<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <script type="text/javascript" src="/static/jquery.js"></script>
  <script type="text/javascript" src="/static/page.js"></script>

  <title>Modern Writing</title>
</head>

<body>
	<div class="base-title">	
	  <a href="/blog" class="main-title">
	    Modern Writing
	  </a>
	</div>

  
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>
<br><br>
<div class="foot" ><a name="foot">Powered by Jieping Lu</a> </div>
</html>

